body{
    margin: 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.headingContainer{
    margin: 3% auto;
}
h1 .line{
    display: inline-block;
    width: 10%;
    height: 1px;
    margin-bottom: 0.60%;
    background-color: rgb(108, 108, 108);
    border: none;
}

.userInput{
    margin: 2.5%;
}
.userInput .line{
    display: inline-block;
    width: 5px;
    height: 1px;
    margin-bottom: 3px;
    background-color: #000;
}
input{
    width: 30px;
    height: 30px;
    text-align: center;
}

button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    background-color: #fff;
    border: solid;
    border-color: rgb(123, 123, 123);
    color: rgb(43, 43, 43);
}
button:hover{
    cursor: pointer;
    border-color: #000;
}